@import "tailwindcss";

:root {
  --primary: #007bff;
  --primary-bg: #daeafb;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --purple: rgb(108, 2, 108);
  --purplelt: rgb(188, 69, 188);
  --dark: #343a40;
  --gray: #6c757d;
  --light: #f8f9fa;
  --white: #ffffff;

  --font-1: "Inter", sans-serif;
  --font-2: "Poppins", sans-serif;
  --font-3: "Lato", sans-serif;

  --font-xs: 0.75rem; /* 12px */
  --font-sm: 0.875rem; /* 14px */
  --font-base: 1rem; /* 16px */
  --font-md: 1.125rem; /* 18px */
  --font-lg: 1.25rem; /* 20px */
  --font-xl: 1.5rem; /* 24px */
  --font-2xl: 1.875rem; /* 30px */
  --font-3xl: 2.25rem; /* 36px */
  --font-4xl: 3rem; /* 48px */
  --font-5xl: 4rem; /* 64px */
}
/* <div className="text-[var(--text-dark)] font-[var(--font-10)] text-[var(--font-xs)] rounded-[var(--radius-md)]">
  Styled with root variables inline
</div> */
.text-primary {
  color: var(--primary);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-success {
  background-color: var(--success);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-danger {
  background-color: var(--danger);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-light {
  background-color: var(--light);
}
.bg-purplelt {
  background-color: var(--purplelt);
}
.bg-purple {
  background-color: var(--purple);
}

body {
  background-color: var(--light);
  color: var(--light);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.font1 {
  font-family: var(--font-1);
}
.font2 {
  font-family: var(--font-2);
}
.font3 {
  font-family: var(--font-3);
}
/* 
<div class="border-2 border-[aqua] rounded-[20px] p-4">
 

<div class="w-full h-[900px] flex items-center justify-center text-center">
  
<div class="w-1/2 h-[90%] flex flex-col">

<div class="bg-primary text-white text-left font-semibold my-4 px-4 py-2">
  Custom styled section using :root variables + Tailwind
</div>

<div class="bg-[var(--primary)] text-[var(--white)]">
  This uses CSS variables directly in Tailwind
</div>

bg-white py-16 px-4 md:px-12 max-w-7xl mx-auto flex flex-col md:flex-row items-center gap-10">

*/
